h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Marco regulatorio y normativo', 'main.html#page/marco/')
                    +navTemaItem('2', 'Riesgo eléctrico', 'main.html#page/riesgo/')
                    +navTemaItem('3', 'Análisis de riesgos', 'main.html#page/analisis/')
                    +navTemaItem('4', 'Análisis de trabajo seguro', 'main.html#page/seguro/')