.container#riesgo

    .header-ecored
        h1 2. Riesgo eléctrico

    .card
        img.card-img-top(src="assets/images/pages/img9.jpg")
        .card-body
            p Es tal vez el más peligroso que puede existir en el desarrollo de una labor, esto se debe a que la corriente no es perceptible al ojo humano, a menos, que esté actuando y su actuación genere estímulos que activen dicha percepción, es por ello, que este tema debe ser estudiado para comprender las situaciones de peligro y letalidad a profundidad.
    
    br#vs
    .header-ecored
        h2 2.1 Peligro vs. riesgo

    .jumbotron.bg-white
        p Es necesario diferenciar peligro de riesgo para poder dejar en claro las diferencias entre estos dos términos que en ocasiones son entendidos como sinónimos pese a que son muy distintos como lo expresa el artículo 3 de RETIE:
        table.mb-4
            thead
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img12.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Peligro:] condición no controlada que tiene el potencial de causar lesiones a personas, daños a instalaciones o afectaciones al medio ambiente.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img13.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Riesgo:]  probabilidad de que, en una actividad se produzca una pérdida determinada, en un tiempo dado.
        h3.text-center.txt-color1 Peligro Vs. Riesgo
        img.img-fluid.img-a1(src="assets/images/pages/img10.png", style="max-width: 50%")
        p.mt-4 #[b La diferencia entre uno y otro es que] el peligro #[b es una condición o característica intrínseca] que puede causar lesión o enfermedad, daño #[b a la propiedad y/o paralización de un proceso.]  El riesgo #[b es la combinación de la probabilidad  y la consecuencia] de no controlar el peligro.
        .row.bg-t2
            .col-md-2.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img14.svg", style="max-width: 100%")
            .col.m-auto
                p En trabajos con instalaciones eléctricas, el peligro es la electricidad y el riesgo eléctrico es la posibilidad que tiene toda persona que efectúa trabajos, de verse afectado o agredido físicamente por la misma.
        p.mt-4 Para controlar el peligro y disminuir el riesgo se pueden realizar varias acciones denominadas barreras duras y barreras blandas. Las barreras duras son las más eficaces y deben ser las primeras en evaluarse, aunque en muchas ocasiones son las que mayor inversión requieren.
        .bg-t4
            .sub-line
                h3 Barreras duras
            ul.list-p
                li #[b Eliminación:] se modifica el diseño para eliminar el peligro, no siempre es posible, y en instalaciones eléctricas no se puede eliminar la electricidad.
                li #[b Sustitución:] se reemplazan los materiales peligrosos, por materiales menos peligrosos o reducir la energía del sistema.
                li #[b Controles de ingeniería:] se deben instalar sistemas para prevenir el riesgo.
            .sub-line
                h3 Barreras blandas
            ul.list-p
                li #[b Señalar, advertir y controles administrativos:] señalizar las áreas peligrosas, señales luminiscentes, marcas de pasarelas peatonales, marcas distancias de seguridad, procedimientos, etc.
                li #[b Equipo de protección personal:] es la menos efectiva de todas, y solamente reducen los efectos en caso de accidente o incidente.
        h3.text-center.txt-color1.mt-4 Jerarquía de control de peligro
        img.img-fluid.img-a1(src="assets/images/pages/img15.svg", style="max-width: 100%")
        h3.text-center.txt-color1.mt-4 Ejemplificación de control de peligro y disminución de riesgo
        img.img-fluid.img-a1(src="assets/images/pages/img11.png", style="max-width: 100%")
    
    br#acciones
    .header-ecored
        h2 2.2 Acciones y condiciones inseguras
    
    .jumbotron.bg-white
        p En primer lugar, es necesario definir y diferenciar algunos conceptos de acuerdo con el artículo 3 de RETIE:
        table.mb-4
            thead
                tr
                    td
                        p.bg-t1 #[b Acto inseguro:] violación de una norma de seguridad ya definida.
                tr
                    td
                        p.bg-t1 #[b Condición insegura:] circunstancia potencialmente riesgosa que está presente en el ambiente de trabajo.

    .card
        img.card-img-top(src="assets/images/pages/img13.png")
        .card-body.bg-t22
            .sub-line
                h3 Acciones inseguras
            p.mb-3 Son las violaciones de un procedimiento seguro, algunos ejemplos son:
            ul.list-p
                li Intervenir en equipos energizados sin autorizaci&oacute;n.
                li No utilizar los elementos de protecci&oacute;n personal.
                li No usar equipos de maniobras o herramientas aptas para uso el&eacute;ctrico.
                li Usar equipos y herramientas en mal estado.
                li No respetar la distancia de seguridad.
                li Sobrecargar alg&uacute;n punto de la instalaci&oacute;n.
                li Usar una herramienta para un trabajo para el cual no est&aacute; dise&ntilde;ada.
    
    .card
        img.card-img-top(src="assets/images/pages/img12.png")
        .card-body.bg-t22
            .sub-line
                h3 Condiciones inseguras
            p.mb-3 Son estados de las instalaciones o equipos, existentes en el lugar de trabajo, que se apartan de la norma de diseño seguro.  
            p.mb-3 Por ejemplo:
            ul.list-p
                li Instalaciones aéreas que no cumplen con la distancia de seguridad.
                li Aislaciones insuficientes o dañadas.
                li Material inadecuado o deficiente.
                li Falta de puesta a tierra de seguridad.
                li Circuitos sobrecargados.       
                li Dispositivos de protección inadecuados.
                li Falta de protector diferencial.
                li Falta de señalización.
                li Falta de equipos de protección o seguridad.
                li Equipos o accesorios fuera de norma.

    .jumbotron.bg-white
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/v1loazmfHVc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-4 Con frecuencia los actos y las condiciones inseguras confluyen, es decir, existe una condición insegura y se lleva a cabo un acto inseguro, uniéndose y teniendo como consecuencia un accidente. El efecto dominó que trae los actos y condiciones inseguras, se refleja en la pirámide de la accidentalidad desarrollada por Frank Bird Jr. y Frank Hernández (1969). La base de la pirámide son los actos y condiciones inseguras.
        h3.text-center.txt-color1.mt-4 Pirámide de la accidentalidad
        img.img-fluid.img-a1(src="assets/images/pages/img16.svg", style="max-width: 70%")

    br#causas
    .header-ecored
        h2 2.3 Causas y consecuencias de accidentes eléctricos

    .card
        img.card-img-top(src="assets/images/pages/img14.png")
        .card-body
            p.mb-3 #[b Accidente:] evento no deseado. Dentro de estos se incluyen los descuidos y las fallas de los equipos, que tienen como resultado la muerte, una lesión personal, un daño a la propiedad o deterioro ambiental (artículo 3. RETIE).
            p.mb-3 #[b Causas de accidentalidad:] los accidentes de origen eléctrico pueden ser producidos por contactos directos (fase-fase, fase-neutro, fase-tierra), contactos indirectos (inducción, contacto con masa energizada, tensión de paso, tensión de contacto, tensión transferida), impacto de rayo, fulguración, explosión, incendio, sobrecorrientes y sobretensiones (artículo 9. RETIE).
            ul.list-p
                li Contacto directo: se da con partes normalmente activas de la instalación eléctrica, es decir, sin que medie una falla en los equipos.
                li Contacto indirecto: se da cuando el contacto se establece con partes de la instalación que se encuentran activas por la ocurrencia de un defecto en los equipos.
                li Fulguración: son los efectos biológicos que se producen por acción de la electricidad atmosférica.
            p.mb-3 #[b Consecuencias:] el paso de la corriente por el cuerpo puede ocasionar desde lesiones físicas secundarias (golpes, caídas, entre otros), hasta la muerte. 
            ul.list-p
                li Electrizaci&oacute;n: una persona se electriza cuando la corriente el&eacute;ctrica circula por su cuerpo, es decir, cuando la persona forma parte del circuito el&eacute;ctrico, pudiendo, al menos, distinguir dos puntos de contacto: uno de entrada y otro de salida de la corriente.
                li Electrocuci&oacute;n: se produce cuando una persona fallece debido al paso de la corriente por su cuerpo.
                li Fibrilaci&oacute;n ventricular: consiste en el movimiento irregular del coraz&oacute;n, el cual, deja de enviar sangre a los distintos &oacute;rganos y, aunque est&eacute; en movimiento, no sigue su ritmo normal de funcionamiento.
                li Tetanizaci&oacute;n: movimiento incontrolado de los m&uacute;sculos como consecuencia del paso de la energ&iacute;a el&eacute;ctrica. Dependiendo del recorrido de la corriente se pierde el control de las manos, brazos, m&uacute;sculos pectorales, entre otros.
                li Asfixia: se produce cuando el paso de la corriente afecta al centro nervioso que regula la funci&oacute;n respiratoria, ocasionando un paro respiratorio.
                li Otros factores fisiopatol&oacute;gicos: tales como contracciones musculares, aumento de la presi&oacute;n sangu&iacute;nea, dificultad respiratoria, bloqueo renal y paro temporal del coraz&oacute;n, entre otros; pueden producirse sin fibrilaci&oacute;n ventricular. Tales efectos no siempre son mortales, son, normalmente, reversibles y, a menudo, dejan marcas generadas por el paso de la corriente.
                li Quemaduras o necrosis el&eacute;ctrica: se producen por la energ&iacute;a liberada al paso de la corriente o por radiaci&oacute;n t&eacute;rmica de un arco el&eacute;ctrico, cuando son profundas pueden llegar a ser mortales.
                li Estado fisiopatol&oacute;gico de shock: presenta efectos circulatorios y respiratorios simult&aacute;neamente.
            p.mb-3 Adaptado de: NTP-400; efectos de la corriente.
            .bg-t4
                h3.text-center.txt-color1.mt-4 Efectos de la corriente sobre la piel
                img.img-fluid.img-a1(src="assets/images/pages/img17.svg", style="max-width: 50%")
                .sub-line
                    h3 Efectos sobre la piel
                p.mb-3 La curva indica las alteraciones de la piel en función de la densidad de corriente que circula por un área determinada (mA/mm2) y el tiempo de exposición a esa corriente.
                ul.list-p
                    li #[b Zona 0:] habitualmente no hay alteración de la piel, salvo que el tiempo de exposición sea de varios segundos, en cuyo caso, la piel en contacto con el electrodo puede tomar un color grisáceo con superficie rugosa. 
                    li #[b Zona 1:]  se produce un enrojecimiento de la piel con una hinchazón en los bordes donde estaba situado el electrodo.
                    li #[b Zona 2:]  se provoca una coloración parda de la piel que estaba situada bajo el electrodo. Si la duración es de varias decenas de segundos se produce una clara hinchazón alrededor del electrodo. 
                    li #[b Zona 4:]  se puede provocar una carbonización de la piel. Es importante resaltar que con una intensidad elevada y cuando las superficies de contacto son importantes se puede llegar a la fibrilación ventricular sin ninguna alteración de la piel.
        
    .card
        img.card-img-top(src="assets/images/pages/img16.png")
        .card-body
            p.mb-3 #[b Factores que influyen en el efecto de la corriente alterna en el organismo:] el paso de la corriente por el cuerpo genera efectos que pueden ser distintos de una persona a otra dependiendo de su constitución física y su estado de salud, entre otros factores. En general, y para efectos de cálculos se considera que el cuerpo humano es un buen conductor de la electricidad, y se ha normalizado su resistencia en 1000 amperios (Ω). Y dependiendo de la cantidad de corriente se establecen umbrales cuyos valores están dados en referencia a este valor de resistencia estándar.
            ul.list-p
                li #[b Umbral de percepción:] valor mínimo de la corriente que provoca una sensación en una persona. En corriente alterna esta sensación de paso de corriente se percibe durante todo el tiempo; sin embargo, con corriente continua solo se percibe cuando varía la intensidad, por ello son fundamentales el inicio y la interrupción de paso de la corriente.
                | La Norma CEI 479-11994 considera un valor de 0,5 miliamperios (mA) en corriente alterna y 2 mA en corriente continua. El RETIE considera una corriente de (1,1 mA).
                li #[b Umbral de reacción:] valor mínimo de la corriente que provoca una contracción muscular.
                li #[b Umbral de no soltar:] cuando una persona tiene sujetos unos electrodos, es el valor máximo de la corriente que permite a esa persona soltarlos. En corriente alterna se considera un valor máximo de 10 mA.
                li #[b Umbral de fibrilación ventricular:] valor mínimo de la corriente que puede provocar la fibrilación ventricular. En corriente alterna, decrece considerablemente si la duración del paso de la corriente se prolonga más allá de un ciclo cardíaco. La fibrilación ventricular está considerada como la causa principal de muerte por choque eléctrico.
            p #[b Fuente:] NTP-400; Seguridad eléctrica efectos sobre el cuerpo humano.
            h3.text-center.txt-color1.mt-4 Efectos de la corriente sobre la piel
            table.table-p
                thead
                    tr
                        th Intensidad
                        th Efectos fisiol&oacute;gicos que se observan en condiciones normales
                tbody
                    tr
                        td 0 - 0,5 mA
                        td No se observan sensaciones ni efectos. El umbral de percepci&oacute;n se sit&uacute;a en 0,5 mA.
                    tr
                        td 0,5 - 10 mA
                        td Calambres y movimientos reflejos musculares. El umbral de no soltar se sit&uacute;a en 10 mA.
                    tr
                        td 10 - 25 mA
                        td Contracciones musculares. Agarrotamiento de brazos y piernas con dificultad de soltar objetos. Aumento de la presi&oacute;n arterial y dificultades respiratorias.
                    tr
                        td 25 - 40 mA
                        td Fuerte tetanizaci&oacute;n. Irregularidades cardiacas. Quemaduras. Asfixia a partir de 4 s.
                    tr
                        td 40 - 100 mA
                        td Efectos anteriores con mayor intensidad y gravedad. Fibrilaci&oacute;n y arritmias cardiacas.
                    tr
                        td ~ 1 A
                        td Fibrilaci&oacute;n y paro card&iacute;aco. Quemaduras muy graves. Alto riesgo de muerte.
                    tr
                        td 1 - 5 A
                        td Quemaduras muy graves. Parada cardiaca con elevada probabilidad de muerte.
            p.my-4 La figura dada por la NTC4120, referente IEC 60479-2 indica los efectos que produce una corriente alterna en frecuencia entre 15 y 100 hercios (Hz) en un recorrido desde la mano izquierda hasta los dos pies.
            h3.text-center.txt-color1.my-4 Zonas de tiempo/corriente de los efectos de la corriente alterna
            img.img-fluid.img-a1(src="assets/images/pages/img15.png", style="max-width: 100%")
            .sub-line
                h3 Medidas de prevención de accidentes eléctricos
            P.mb-3 Para prevenir accidentes eléctricos es necesario:
            table
                thead
                    tr
                        td
                            p.bg-t1 #[b Aprobación de autoridad competente:] equipos, herramientas, materiales e instalaciones.
                    tr
                        td
                            p.bg-t1 #[b Mantenimiento preventivo:] inspección, revisión y mantenimiento.
                    tr
                        td
                            p.bg-t1 #[b Cumplimiento de normas:]	   capacitación formal, reentrenamiento y procedimientos.
                    tr
                        td
                            p.bg-t1 Uso de los elementos de protección personal (EPP).
                    tr
                        td
                            p.bg-t1 Realización de trabajos únicamente por personal calificado y certificado.
    
    br#arco
    .header-ecored
        h2 2.4 Arco eléctrico
    
    .card
        img.card-img-top(src="assets/images/pages/img17.png")
        .card-body
            p.mb-3 #[b Arco eléctrico:] haz luminoso producido por el flujo de corriente eléctrica a través de un medio aislante, que produce radiación y gases calientes (artículo 3; RETIE).
            p.mb-3 Es el paso sustancial de energía a través del aire ionizado, las etapas se dividen en tres: ráfaga, temperatura y choque eléctrico.
            .bg-t4.mb-4
                p Los arcos eléctricos se presentan cuando se realizan movimientos físicos en equipos, tales como:
                ul.list-p
                    li Cierre y apertura de interruptores.
                    li Apertura y cierre de puertas y cubiertas.
                    li Inserción y retiro de equipos.
                    li Instalaciones de equipos de prueba y tierras de seguridad.
                    li Mantenimiento y mediciones en el sistema.
                    li Es muy extraño que se presenten durante la operación normal.
                p Características:
                ul.list-p
                    li Típicamente duran menos de un segundo.
                    li Radiación de energía a temperaturas extremadamente altas.
                    li Explosivos por naturaleza.
                    li Pueden encender/derretir la vestimenta convencional.
            .embed-responsive.embed-responsive-16by9.br6
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/1v5RObWjfxA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    
    .jumbotron.bg-white
        p Un arco eléctrico libera diversos tipos de energía concentrada, convirtiéndose en gas, vapor (plasma) del material del terminal del equipo por lo general cobre y/o aluminio.       
        h3.text-center.txt-color1.my-4 Energía liberada por un arco eléctrico
        img.img-fluid.img-a1.mb-4(src="assets/images/pages/img18.svg", style="max-width: 100%")
        .embed-responsive.embed-responsive-16by9.br6
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4es_TSjzV7o', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#reglas
    .header-ecored
        h2 2.5 Las cinco (5) reglas de oro

    .jumbotron.bg-white
        p Las 5 reglas de oro se utilizan para trabajos eléctricos en frío, es decir en sistemas desenergizados.
        p De acuerdo con el artículo 18.1 del RETIE, los trabajos que deban desarrollarse con las redes o equipos desenergizados, deben cumplir las 5 reglas de oro:
        p #[b Regla No 1. Efectuar corte visible de todas las fuentes de tensión.] Con el fin de anular todas las fuentes de tensión que puedan alimentar la instalación en la que se operará, debe efectuarse la apertura de los circuitos de cada uno de los conductores.
        img.img-fluid.img-a1(src="assets/images/pages/001.png", style="max-width: 100%")
        p.mt-3 #[b Regla No 2. Condenación o bloqueo y etiquetado.] Se bloquearán los aparatos de corte en posición de apertura, colocando a la vez, una señalización de prohibición de maniobras.
        img.img-fluid.img-a1(src="assets/images/pages/002.png", style="max-width: 100%")
        p.mt-3 #[b Regla No 3. Verificar ausencia de tensión en cada una de las fases.] Se comprobará mediante los medios adecuados a los distintos niveles de tensión, la ausencia de la misma, lo más cerca posible al punto de corte y cada uno de los conductores.
        img.img-fluid.img-a1(src="assets/images/pages/003.png", style="max-width: 100%")
        p.mt-3 #[b Regla No 4. Puesta a tierra y en cortocircuito de todas las posibles fuentes de tensión.] Luego de efectuada la descarga de la instalación, la misma se colocará a tierra y en cortocircuito, lo más cerca posible del lugar de trabajo, y en cada uno de los conductores sin tensión, incluyendo al neutro.
        img.img-fluid.img-a1(src="assets/images/pages/004.png", style="max-width: 100%")
        p.mt-3 #[b Regla No 5. Señalizar y delimitar la zona de trabajo.] Debe señalizarse la zona de trabajo en forma adecuada, con el objeto de evitar errores en su identificación y no penetrar en zonas colindantes con tensión.
        img.img-fluid.img-a1(src="assets/images/pages/005.png", style="max-width: 100%")

    br#trabajos
    .header-ecored
        h2 2.6 Trabajos en tensión o con redes energizadas

    .jumbotron.bg-white
        p Se consideran trabajos eléctricos en caliente, porque el trabajo se realiza sobre sistemas energizados o sobre equipos que pueden llegar a generar tensión (ejemplo: trabajo con motores de imán permanente PMM).
        p Los métodos comúnmente utilizados son:
        ul.list-p
            li Trabajo a distancia: se ejecutan trabajos con herramientas montadas en pértigas aislantes.
            li Trabajos a contacto: el operario se aísla por medio de elementos de protección personal, dispositivos y equipos aislantes.
            li Trabajo a potencial: el operario queda al potencial de la línea de transmisión sobre la que trabaja, mediante vestuario conductivo.
        p El artículo 19 de RETIE establece las siguientes reglas principales para trabajos en tensión:
        ul.list-p
            li Todo trabajo a tensión se debe realizar aplicando un procedimiento detallado paso a paso, materiales y equipos de protección personal, croquis y dibujos (planos) necesarios; además dicho trabajo debe ser previamente estudiado y analizado por todos los involucrados en su ejecución. 
            li Todo trabajo eléctrico en caliente en sistemas de más de 450 voltios (V) debe hacerse con un mínimo de dos (2) personas.
            li Toda persona que realice trabajos en caliente, debe estar capacitado y habilitado, lo cual debe ser demostrado mediante certificación.
            li Ningún operario podrá participar en un trabajo en tensión si no dispone de todos sus elementos de protección personal, acordes con la tarea a realizar.
            li Los guantes aislantes deben ser sometidos a una prueba de porosidad por inyección de aire, antes de cada jornada de trabajo; también es necesario hacer un ensayo de rigidez dieléctrica en laboratorio al menos dos veces al año. Durante el trabajo los guantes aislantes deben estar revestidos con guantes de protección mecánica y guantes de algodón en su interior.
        p Para trabajos con motores de imán permanente (PMM), adicional a las normas dadas en el RETIE, se deben instalar barreras de protección mecánica que eviten el giro del motor.

    br#epp
    .header-ecored
        h2 2.7 Equipos de Protección Personal (EPP)

    .card
        img.card-img-top(src="assets/images/pages/img23.png")
        .card-body
            .quote.my-3
                .quote__bar   
                    .quote__bar__icon
                        img(src="assets/images/icons/quote_01.svg")
                    .quote__bar__hr
                .quote__text
                    p.mb-2 Son todo equipo, aparato o dispositivo especialmente proyectado y fabricado para preservar el cuerpo humano, en todo o en parte, de riesgos específicos de accidentes del trabajo o enfermedades profesionales. 
                    p.text-right.mb-0 #[i Ministerio de Salud; 2017.]
                .quote__bar 
                        .quote__bar__hr
                        .quote__bar__icon
                            img(src="assets/images/icons/quote_02.svg")
            p.mb-3 En seguridad eléctrica, los EPP varían en función de los trabajos que se realizan en baja, en media y alta tensión.
            table
                thead
                    tr
                        td
                            p.bg-t1 #[b Casco con propiedades dieléctricas:] deben llevar su respectivo barbuquejo para evitar la caída del casco durante la realización de los trabajos. Los cascos deben cumplir las exigencias de la norma EN 397 o de la EN 443. El casco debe estar marcado, según UNE-EN 50365:2003, la clase eléctrica a la que corresponde.
                    tr
                        td
                            p.bg-t1 #[b Protector facial y ocular:] la protección de los ojos contra un arco eléctrico de cortocircuito es una exigencia que contempla la norma EN 166:2002. Las pantallas faciales certificadas según UNE-EN 166:2002 son los únicos protectores oculares válidos para esta zona del cuerpo, además incluyen la exigencia de protección contra arco eléctrico de cortocircuito.
                    tr
                        td
                            p.bg-t1 #[b Ropa de protección:] dependiendo del tipo de trabajo a realizar se tiene diferente tipo de ropa de protección, cuyas prendas deben cumplir la norma correspondiente:
                    tr
                        td
                            p.bg-t1 #[b UNE-EN 50286:2000.] Prendas aislantes de protección en trabajos con instalaciones de baja tensión, destinada a ser empleada por electricistas cualificados que se encuentren, próximos a instalaciones con tensiones nominales inferiores a 500V en corriente alterna o 750V en corriente continua.
                    tr
                        td
                            p.bg-t1 #[b UNE-EN 60985:2005.] Ropa conductora para trabajos en tensión, para ser empleada por electricistas cualificados en tensiones nominales inferiores a 800 kilovoltios (kV) en corriente alterna o ±600 kV en corriente continua.
                    tr
                        td
                            p.bg-t1 #[b Ropa de protección contra los efectos producidos por el arco eléctrico.] Esta prenda no protege contra el arco eléctrico, sino contra las altas temperaturas que se generan y que pueden ocasionar quemaduras importantes.
            p.my-3 Los operarios que realicen trabajos en sistemas energizados deben utilizar equipos de protección que no deben tener nivel un de protección menor al establecido por la NFPA 70E en la siguiente tabla:
            h3.text-center.txt-color1.my-4 Nivel mínimo de protección térmica
            table.table-p
                thead
                    tr
                        th Categoría
                        th Nivel mínimo de protección Cal/cm²
                tbody
                    tr
                        td 0
                        td Prenda normal de algodón
                    tr
                        td 1
                        td 4
                    tr
                        td 2
                        td 8
                    tr
                        td 3
                        td 25
                    tr
                        td 4
                        td 40
            ul.list-p.mt-4
                li Calzado con propiedades dieléctricas.
                li Mangas adicionales para prevenir la inflamación de la ropa de trabajo ante contactos accidentales con elementos en tensión. UNE-EN 60984:1995.
                li Guantes dieléctricos, de material aislante que confieren protección eléctrica. Existen 6 tipos de guantes que se clasifican en función de la tensión a la que son sometidos. La UNE-EN 60903:2005 recomienda el tipo de guantes a emplear según la tensión máxima de utilización, para facilidad del usuario, se clasifican por color y clase:
                ul.list-p2
                    li Beige-00 500VAC / 750VDC; Rojo-0 1000VAC / 1500VDC.
                    li Blanco-1 7500VAC / 11250VDC.
                    li Amarillo-2 17000VAC / 25500VDC.
                    li Verde-3 26500VAC / 39750VDC.
                    li Naranja-4 36000VAC / 54000VDC.
            .row.bg-t2
                .col-md-3.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img19.svg", style="max-width: 100%")
                .col.m-auto
                    p.my-3 La diferencia entre los distintos tipos de guantes radica en la longitud, espesor del guante, tensión de prueba y tensiones máximas de utilización. 
                    p.mb-3 Se recomienda la utilización de protectores de cuero para proteger los guantes dieléctricos de daños durante su utilización.
                .col-12
                    p.mb-3 Algunos guantes disponen de propiedades especiales, que son necesarios en ciertos trabajos, y se clasifican mediante letras así:
                    ul.list-p2
                        li A: Resistentes al ácido.
                        li H: Resistente al aceite.
                        li Z: Resistente al ozono.
                        li R: Resistente al ácido, al aceite y ozono.
                        li C: Resistencia a muy bajas temperaturas.
            ul.list-p.mt-4
                li Tapete dieléctrico: utilizado para aislar al operario del piso en el lugar donde va a realizar los trabajos.
            
            p La EC 61111 define las diferentes clases según la tensión de trabajo.
            h3.text-center.txt-color1.my-4 Tabla de etiquetado de EPP ASTM
            img.img-fluid.img-a1(src="assets/images/pages/img18.jpg", style="max-width: 100%")
            .row.bg-t2.mt-4
                .col-md-3.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img6.svg", style="max-width: 100%")
                .col.m-auto
                    p.my-3 #[b Importante:] Los EPP se deben revisar antes de cada servicio y se deben certificar de acuerdo con la norma correspondiente para cada elemento.
    
    .jumbotron.bg-t5
        p #[b Elementos de protección personal básicos]
        .row
            .col-md-4.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/epp01.png", style="max-width: 100%")
            .col.m-auto                
                p (Sin peligro de arco eléctrico)
                p.mb-3 Zonas de tránsito y frente a equipos que estén con puertas cerradas:
                ul.list-p
                    li Ropa interior de algodón no tratado.
                    li Overol o camisa manga larga y pantalón.
                    li Casco dieléctrico clase E.
                    li Gafas de seguridad.
                        li Botas de cuero dieléctricas.

    .jumbotron.bg-t5
        p #[b Categoría 1 (entre 0 y 4 Cal/cm²) y]
        p #[b Categoría 2 (entre 0 y 8 Cal/cm²)]
        p Zonas donde el personal electricista autorizado realiza trabajos:
        .row.mt-4
            .col-md-4.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/epp02.png", style="max-width: 100%")
            .col.m-auto
                ul.list-p
                    li Ropa interior de algodón no tratado.
                    li Overol resistente al arco eléctrico mínimo de 8 cal/cm².
                    li Capucha resistente al arco eléctrico mínimo de 8 cal/cm².
                    li Protector facial mínimo de 8 cal/cm².
                    li Casco dieléctrico clase E.
                    li Gafas de cuero dieléctricas.
                    li Protector auditivo de inserción.
                    li Guantes dieléctricos de acuerdo al nivel de tensión con su guante protector de cuero.
    
    .jumbotron.bg-t5
        p #[b Categoría 3 (entre 8 y 25 Cal/cm²) y]
        p #[b Categoría 4 (entre 25 y 40 Cal/cm²)]
        p Zonas donde el personal electricista autorizado realiza trabajos:
        .row.mt-4
            .col-md-4.col-12.m-auto
                img.img-fluid.img-a(src="assets/images/pages/epp04.png", style="max-width: 100%")
            .col.m-auto
                ul.list-p
                    li Ropa interior de algodón no tratado.
                    li Traje resistente al arco eléctrico entre 25 y 40 cal/cm² de acuerdo al equipo en donde va a trabajar.
                    li Capucha resistente al arco eléctrico de 40 cal/cm².
                    li Protector facial de 40 cal/cm².
                    li Casco dieléctrico clase E.
                    li Gafas de seguridad.
                    li Botas de cuero dieléctricas.
                    li Protector auditivo de inserción.
                    li Guantes dieléctricos de acuerdo al nivel de tensión con su guante protector de cuero.

    br#tierra
    .header-ecored
        h2 2.8 Puestas a tierra

    .card
        img.card-img-top(src="assets/images/pages/img18.png")
        .card-body
            p.mb-4 Toda instalación eléctrica debe disponer de un sistema de puesta a tierra para evitar que las personas queden sometidas a tensiones de paso, de contacto o transferidas, que superen los umbrales de soportabilidad del ser humano cuando se presente una falla (artículo 15; RETIE). Los sistemas de conexión a tierra se instalan para proteger al personal, al equipo y a los edificios de fallas de conexión a tierra no deseadas y peligrosas (NEC®; artículo 250).
            ul.list-p
                li
                    | #[b Sistema de Puesta a Tierra (SPT)]
                    br
                    | Conjunto de elementos conductores de un sistema eléctrico específico, sin dispositivos de interrupción, que conectan los equipos eléctricos con el terreno o una masa metálica. Comprende la puesta a tierra y la red equipotencial.
                li
                    | #[b Puesta a Tierra (PT)]
                    br
                    | Grupo de elementos conductores equipotenciales, en contacto eléctrico con el suelo o una masa metálica de referencia común, que distribuye las corrientes eléctricas de falla en el suelo o en la masa. Comprende electrodos, conexiones y cables enterrados.
                li
                    | #[b Poner a tierra]
                    br
                    | Realizar una conexión eléctrica entre un nodo de una instalación eléctrica y el suelo o terreno. Puede ser intencional o accidental y permanente o temporal.
                li
                    | #[b Suelo artificial]
                    br
                    | Compuesto preparado industrialmente de baja resistividad, para potenciar la conductividad de un electrodo enterrado.
                li
                    | #[b Tierra]
                    br
                    | Masa conductiva de la tierra con potencial cero.
                li
                    | #[b Tipos de STP]
                    br
                    | #[b Permanentes:] para sistemas eléctricos (de subestación, de alta frecuencia, de corriente continua, de equipos de comunicaciones, de estática, de pararrayos, de protección catódica).
                    br
                    | #[b Temporales:] para trabajos de mantenimiento (de baja tensión, de media tensión, de alta tensión, de electricidad estática, para cargue y descargue de combustibles, para equipos móviles).
            h3.text-center.txt-color1.my-4 Tipos de Sistemas de Puesta a Tierra (SPT)
            img.img-fluid.img-a1(src="assets/images/pages/img20.svg", style="max-width: 80%")
            p.my-3 #[b Componentes Básicos de un SPT]
            ol.t
                li Barraje de tierra aislada.
                li Barraje de tierra de protecci&oacute;n.
                li Barraje de neutro.
                li Conductor a tierra.
                li Conductor aislado de puesta a tierra de equipos.
                li Conductor neutro.
                li Conductor de protecci&oacute;n.
                li Electrodos de puesta a tierra.
                li Malla de puesta a tierra.
                li Puente de conexi&oacute;n equipotencial.
                li Puesta a tierra.
                li Suelo o terreno.
            h3.text-center.txt-color1.my-4 Componentes de un Sistema de Puesta a Tierra
            img.img-fluid.img-a1(src="assets/images/pages/img19.png", style="max-width: 100%")

    br#tension
    .header-ecored
        h2 2.9 Tensión de paso y tensión de contacto
    
    .jumbotron.bg-white
        p Ahora bien, también es importante en este punto diferenciar la tensión de paso de la tensión de contacto acordes con el artículo 3 del RETIE:
        p #[b Tensión de paso:] es la diferencia de tensión que durante una falla se presenta entre dos puntos de la superficie del terreno, separados por una distancia de un paso (aproximadamente un metro).
        h3.text-center.txt-color1.my-4 Tensión de paso y su consecuencia
        img.img-fluid.img-a1(src="assets/images/pages/img20.png", style="max-width: 100%")
        p.mt-4 #[b Tensión de contacto:] es la diferencia de tensión que durante una falla se presenta entre una estructura metálica puesta a tierra y un punto de la superficie del terreno a una distancia de un metro.
        h3.text-center.txt-color1.my-4 Tensión de contacto
        img.img-fluid.img-a1(src="assets/images/pages/img21.png", style="max-width: 100%")
        p.mt-4 Las tensiones de paso y de contacto deben ser consideradas prioritarias para la seguridad y darles esta importancia cuando se realiza el diseño de los sistemas de puesta a tierra, y se constituyen en las limitaciones fundamentales del diseño para garantizar la seguridad de los seres humanos y los animales (Casas, 2017).
    
    br#distancias
    .header-ecored
        h2 2.10 Distancias de seguridad
    
    .jumbotron.bg-white
        p El artículo 13 del RETIE indica que frente al riesgo eléctrico la técnica más efectiva de prevención siempre será guardar una distancia respecto a las partes energizadas, puesto que el aire es un excelente aislante. El reglamento, fija las distancias mínimas que deben guardarse entre líneas o redes eléctricas y elementos físicos con el objeto de evitar contactos accidentales. Las distancias se adoptaron de la norma ANSI C2.
        p En el capítulo 13 del RETIE se encuentran las tablas de distancias mínimas de seguridad que aplican para:
        ul.list-p
            li Zonas con construcciones.
            li Diferentes lugares y situaciones, como cruces de vías, cruces con ferrocarriles y ríos, zonas de bosques, entre otras.
            li Entre conductores en la misma estructura, tanto vertical como horizontal.
            li Distancias mínimas para trabajos en o cerca de partes energizadas.
        p La protección de la frontera con el riesgo de arco eléctrico es la distancia a la que es probable que una persona pueda recibir quemaduras de segundo grado.
        h3.text-center.txt-color1.my-4 Distancias de seguridad
        img.img-fluid.img-a1(src="assets/images/pages/img22.png", style="max-width: 100%")

                
