.container#seguro

    .header-ecored
        h1 4. Análisis de trabajo seguro

    .card
        img.card-img-top(src="assets/images/pages/img27.png")
        .card-body
            p.mb-4 Es una metodología utilizada para analizar los riesgos durante una actividad laboral, detallando cada una de las actividades de un procedimiento o paso a paso y evaluando los peligros y riesgos que se presentan en cada uno de ellos, con el fin de encontrar la forma más segura y efectiva de realizar cada actividad.
            p.mb-4 Para lograr el objetivo, se deben tabular los siguientes ítems:
            ul.list-p
                li Pasos o actividades a ejecutar.
                li Peligros asociados a cada actividad.
                li Valoración del riesgo a cada paso.
                li Controles a tomar para eliminar, reducir, o mitigar el riesgo.

    br#previo
    .header-ecored
        h2 4.1 Análisis previo a actividades
    
    .jumbotron.bg-white
        p El Análisis de Trabajo Seguro (ATS) debe ser realizado desde la planeación de cada uno de los trabajos a realizar, considerando los diferentes aspectos a tener en consideración de lo estándar de la actividad y previendo lo que puede ocurrir durante la realización de los procesos.
        p Este ATS se debe divulgar a todo el personal involucrado en la realización de las actividades y se debe considerar como una guía base para la prevención de incidentes y accidentes durante la realización de la actividad.
        img.img-fluid.img-a1(src="assets/images/pages/img22a.png", style="max-width: 100%")
    
    br#durante
    .header-ecored
        h2 4.2 Análisis durante las actividades
    
    .jumbotron.bg-white
        p Al inicio de la actividad, se debe revisar nuevamente el ATS planificado, y realizar una nueva evaluación en el sitio para verificar que las condiciones evaluadas se cumplan y #[b ajustar] aquellas condiciones que tengan algún cambio propio al lugar de trabajo, así como #[b incluir] cualquier condición encontrada y que no se haya considerado previamente. En la revisión de este ATS deben participar todos los involucrados en la realización de las actividades y se debe divulgar al personal que realice un relevo en caso de cambios de turno.
        p Durante la realización de las actividades cualquier trabajador que detecte una desviación o cambio de condiciones (ejemplo: cambio de las condiciones atmosféricas, de visibilidad, y cualquier otro aspecto que pueda afectar las condiciones del trabajo) puede solicitar la suspensión de las actividades para revisar el ATS y garantizar la seguridad e integridad de las personas, equipos, instalaciones y el medio ambiente.
        img.img-fluid.img-a1(src="assets/images/pages/img28.png", style="max-width: 100%")
    