.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Aire ionizado:
            | es una condición en la cual el aire gana o pierde electrones de las moléculas de los gases que lo componen.
        p
            strong.mr-2 Barbuquejo:
            | einta que se instala al casco de seguridad para sujetarlo bajo el maxilar inferior de la persona que lo utiliza.
        p
            strong.mr-2 Barreras de protección mecánica:
            | barreras que se instalan físicamente para evitar el movimiento o giro del eje del motor.
        p
            strong.mr-2 CEN:
            | Comité Europeo de Normalización.
        p
            strong.mr-2 Ciclo cardiaco:
            | es la secuencia de movimientos que realiza el corazón garantizando el flujo de la sangre a través de sus cavidades para poder bombearla por todo el cuerpo humano.
        p
            strong.mr-2 Conductores:
            | materiales que permiten el paso de la electricidad.
        p
            strong.mr-2 Contacto directo:
            | es el contacto de personas o animales con conductores activos o partes energizadas de una instalación eléctrica. RETIE; artículo 3.
        p
            strong.mr-2 Contacto indirecto:
            | es el contacto de personas o animales con elementos o partes conductivas que normalmente no se encuentran energizadas. Pero en condiciones de falla de los aislamientos se pueden energizar. RETIE; artículo 3.
        p
            strong.mr-2 Contacto Involuntario:
            | es el contacto de una persona o animal que no se realiza por voluntad propia con un elemento de una instalación eléctrica.
        p
            strong.mr-2 COPANT:
            | Comisión Panamericana de Normas Técnicas.
        p
            strong.mr-2 Cortocircuito:
            | sistemas y/o equipos que no se encuentran conectados de manera temporal o permanente a una fuente de energía eléctrica.
        p
            strong.mr-2 Dispositivos de interrupción:
            | dispositivos colocados en una instalación eléctrica cuya finalidad es realizar el corte del paso de la energía eléctrica hacía un equipo o una parte de un circuito eléctrico.
        p
            strong.mr-2 Efecto dominó:
            | una fuente de energía eléctrica o el estudio de cargas eléctricas en reposo. RETIE; artículo 3.
        p
            strong.mr-2 Electricidad estática:
            | es el contacto de una persona o animal que no se realiza por voluntad propia con un elemento de una instalación eléctrica.
        p
            strong.mr-2 Electrocución:
            | paso de corriente eléctrica a través del cuerpo humano, cuya consecuencia es la muerte. RETIE; artículo 3.
        p
            strong.mr-2 Energizado:
            | sistemas y/o equipos que se encuentran conectados de manera temporal o permanente a una fuente de energía eléctrica.
        p
            strong.mr-2 Equipos de señalización:
            | todo tipo de señal, pancarta, aviso, cinta, que se utilice para indicar que existe una situación de riesgo, peligro, o indicación de uso obligatorio de equipos de protección personal en un área.
        p
            strong.mr-2 Equipotencial:
            | conjunto de sistemas eléctricos, equipos, conductores, etc. que se encuentran al mismo potencial.
        p 
            strong.mr-2 Fibrilación muscular:
            | contracción espontánea e incontrolada de los músculos.
        p
            strong.mr-2 Fuentes de tensión:
            | todo equipo o sistema que suministre energía eléctrica. También llamados fuentes de energía.  RETIE; artículo 3.
        p
            strong.mr-2 IEC:
            | Comisión Electrotécnica Internacional, por sus siglas en inglés.
        p
            strong.mr-2 IEEE:
            | Instituto de Ingeniería Eléctrica y Electrónica, por sus siglas en inglés.
        p
            strong.mr-2 Inspección:
            | conjunto de actividades tales como medir, examinar, ensayar o comparar con requisitos establecidos, una o varias características de un producto o instalación eléctrica, para determinar su conformidad. RETIE; artículo 3.
        p
            strong.mr-2 Instalación eléctrica:
            | conjunto de los circuitos eléctricos y sus componentes tales como, conductores, equipos, máquinas y aparatos que conforman un sistema eléctrico y que se utilizan para la generación, transmisión, transformación, distribución o uso final de la energía eléctrica. RETIE; artículo 2.1.
        p
            strong.mr-2 ISO:
            | Organización Internacional para la Normalización, por sus siglas en inglés.
        p
            strong.mr-2 Lesión Física:
            | perjuicio fisiológico sufrido por una persona. RETIE; artículo 3.
        p
            strong.mr-2 Líneas eléctricas:
            | conjunto compuesto por conductores, aisladores, estructuras y accesorios destinados al transporte de energía eléctrica. RETIE; artículo 3
        p
            strong.mr-2 Mantenimiento:
            | conjunto de acciones o procedimientos tendientes a preservar o restablecer un bien, a un estado tal que le permita garantizar la máxima confiabilidad. RETIE; artículo 3.
        p
            strong.mr-2 OIML
            | Organización Internacional de Metrología.
        p
            strong.mr-2 Operación:
            | herramienta aislante compuesta por una o más piezas de forma alargada, normalmente con forma circular que se utiliza para intervenir desde una distancia segura, partes o componentes que se encuentran energizados o pueden llegar a energizarse.
        p
            strong.mr-2 Pértiga aislante:
            | una fuente de energía eléctrica o el estudio de cargas eléctricas en reposo. RETIE; artículo 3.
        p
            strong.mr-2 Prueba de porosidad:
            | prueba realizada a guantes dieléctricos para determinar que el guante no tiene desperfectos.
        p
            strong.mr-2 Punto de corte:
            | es el sitio donde se realiza la interrupción del paso de corriente eléctrica, o desconexión de un equipo o parte de un sistema eléctrico a una fuente de tensión.
        p
            strong.mr-2 Radiación:
            | energía ondulatoria o partículas materiales que se propagan a través del espacio. (RAE (Real Academia Española))
        p
            strong.mr-2 Red equipotencial:
            | conjunto de conductores del sistema de puesta a tierra que no están en contacto con el suelo o terreno y que conectan sistemas eléctricos, equipos o instalaciones con la puesta a tierra. (RETIE Artículo 3)
        p
            strong.mr-2 Resistividad:
            | resistencia eléctrica específica de una determinada sustancia. (RAE)
        p
            strong.mr-2 Tensión:
            | la diferencia de potencial eléctrico entre dos conductores, que hace que fluyan electrones por una resistencia. Tensión es la magnitud, cuya unidad es el voltio; un error frecuente es hablar de “voltaje”. (RETIE Artículo 3)
        p
            strong.mr-2 Umbral de soportabilidad:
            | nivel de corriente eléctrica que puede soportar el cuerpo humano sin sufrir daño.
        p
            strong.mr-2 UIT:
            | Unión Internacional de Telecomunicaciones.
        p
            strong.mr-2 Vestuario conductivo:
            | vestuario que se utiliza en trabajos en líneas energizadas de extra alta tensión y que pone al trabajador al mismo potencial que tiene el conductor.
        p
            strong.mr-2 Zonas colindantes:
            | áreas que se encuentran contiguas entre sí.