include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Autoridad Nacional de licencias ambientales “ANLA”. (2019). Análisis de Trabajo Seguro.", "http://www.anla.gov.co/buscar?searchword=An%C3%A1lisis%20de%20Trabajo%20Seguro&searchphrase=all")

        +referenciaItem("Casas, F. (2017). Tierras-Soporte de la seguridad eléctrica. Sexta Edición. Editorial ICONTEC", "")

        +referenciaItem("ICONTEC. (1998). Código Eléctrico Colombiano – Norma Técnica Colombiana -NTC 2050.", "https://www.idrd.gov.co/sitio/idrd/sites/default/files/imagenes/ntc%2020500.pdf")

        +referenciaItem("ICONTEC. (2020). “Ingeniería eléctrica: catálogo de normas disponibles para compra.", "https://tienda.icontec.org/sectores/ingenieria-electrica.html?cat=915")

        +referenciaItem("ICONTEC (s.f.). Niveles de Normalización. ", "https://portal.icontec.org/content/content-page-b/")

        +referenciaItem("Ministerio de minas y energía; Gobierno de Colombia (2013). Reglamento Técnico de Instalaciones Eléctricas-RETIE (Resolución 90708 de agosto 30 de 2013).", "https://www.minenergia.gov.co/retie")