include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Prevención y mitigación del riesgo eléctrico en motores de corriente alterna sincrónicos de imanes permanentes
        meta(meta name="description" content="Ruta de aprendizaje programa Prevención y mitigación del riesgo eléctrico en motores de corriente alterna sincrónicos de imanes permanentes.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Prevención y mitigación del riesgo eléctrico en motores de corriente alterna sincrónicos de imanes permanentes
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.curso-descripcion
                                        li 
                                            span #[strong Nombre del programa:] Prevención y mitigación del riesgo eléctrico en motores de corriente alterna sincrónicos de imanes permanentes
                                        li 
                                            span #[strong Código:] 22410006
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] aprendices de programas de formación o personal técnico de la industria, con nivel técnico, tecnológico o profesional con conocimientos en: electricidad industrial, electromecánica, seguridad industrial y salud ocupacional. Experiencia mínima de un año en operaciones de levantamiento artificial.

                 

                            .col-12.col-lg-6.text-center
                                .d-none.d-lg-block
                                    img(src= "assets/images/header/header_media.png").curso-imagen     


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 Vivir una cultura de prevención del riesgo es lograr que los comportamientos seguros formen parte de tu vida. 

                p Lo invitamos a realizar un recorrido de conocimiento en el programa de formación complementaria virtual PREVENCIÓN Y MITIGACIÓN DEL RIESGO ELÉCTRICO EN MOTORES DE CORRIENTE ALTERNA SINCRÓNICOS DE IMANES PERMANENTES, en el que podrá tener claridad sobre la caracterización de la naturaleza del riesgo eléctrico de acuerdo con procedimientos y normativa de seguridad establecidos, y el establecimiento de controles para la prevención y mitigación de riesgos eléctricos en la instalación, desinstalación, puesta en marcha y mantenimiento de sistemas con motores de imanes permanentes de acuerdo con la normativa.

                p Ningún trabajo es tan importante o tan urgente como para no tomarnos el tiempo de realizarlo de manera segura, por esta razón, se expondrán conceptos sobre la evaluación de medidas de seguridad de acuerdo con las estrategias de prevención y reducción de los factores de riesgo eléctrico en el área de trabajo, y, por último, se hará un recorrido sobre la implementación del plan de emergencia para la atención de víctima de un accidente eléctrico de acuerdo con la normatividad vigente.

                p Al finalizar la formación, habrá comprendido importantes conceptos y adquirido el conocimiento para actuar de manera segura en el día a día, cuidando su vida y la de quienes le rodean, creciendo como persona, protegiendo su entorno y aportando de manera significativa a la excelencia operacional.


        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 El SENA está encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de los trabajadores colombianos, para ello ofrece y ejecuta formación profesional integral que permite la incorporación y el desarrollo de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país (Ley 119/1994). 

                p De acuerdo con el Plan estratégico del SENA 2019 – 2022, en su proceso misional PM 2 y PM 3 establece como estrategias: “Formar el talento humano pertinente que demanda el sector empresarial del país” y “Fortalecer la intermediación laboral para cubrir las necesidades de talento humano requerido por las empresas”, estrategias que se alinean con los objetivos de Desarrollo Sostenible de la ONU. 

                p De otra parte, el motor eléctrico es uno de los equipos más utilizados en el sector industrial, prestan su servicio en diferentes aplicaciones de la producción y la manufactura, al respecto se estima que el 70% del costo de energía eléctrica facturada a una industria la consumen los motores eléctricos; en la actualidad, es más frecuente el uso de los motores eléctricos de inducción, sin embargo, se ha venido desarrollando y ampliando el uso de motores de imanes permanentes (PMM por sus siglas en inglés Permanent Magnet Motor). 

                p El motor de imanes permanentes es un motor sincrónico con mayor eficiencia y menores pérdidas en su operación, en comparación con un motor de inducción. Teniendo en cuenta lo anterior, el uso de motores PMM brinda mayores beneficios en términos económicos y técnicos.

                p El SENA, a través del programa Prevención y mitigación del riesgo eléctrico en motores de imanes permanentes, busca que los aprendices de programas de formación afines a la red eléctrica de seguridad y salud ocupacional, y de personal técnico de la industria con conocimientos en máquinas eléctricas, fortalezcan el uso de nuevas tecnologías enmarcadas en sistemas de motores con imanes permanentes, que les permita desempeñarse como integradores de estos sistemas, identificando y mitigando los riesgos eléctricos asociados a esta tecnología.

                p El riesgo eléctrico está presente en cualquier tarea que implique manipulación o maniobra de instalaciones eléctricas de baja, media y alta tensión, operaciones de mantenimiento de las instalaciones eléctricas, utilización, manipulación y reparación del equipo eléctrico de las máquinas, así como utilización de accionamientos eléctricos en entornos para los cuales no ha sido diseñado el dispositivo (ambientes húmedos y/o mojados), etc. 

                p Dentro del riesgo eléctrico quedan específicamente incluidos: 

                ul   
                    li Electrocución: es la posibilidad de circulación de una corriente eléctrica a través del cuerpo humano. 
                   
                    li Quemaduras por choque o arco eléctrico. 
                   
                    li Caídas o golpes como consecuencia de choque o arco eléctrico. 
                   
                    li Incendios o explosiones originadas por la electricidad. 





        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Personas interesadas en fortalecer conocimientos en la tecnología de las máquinas eléctricas rotativas, específicamente aplicación de fundamentos en la tecnología de motores eléctricos de corriente alterna, sincrónicos de imanes permanentes (PMM), los cuales pueden ser profesionales, técnicos, tecnólogos en áreas como: electricidad, electrónica, electromecánicos o que se desempeñen en el sector Oil & Gas de diferentes áreas o aprendices que deseen fortalecer sus conocimientos en la tecnología de motores PMM.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las tecnologías de la información y la comunicación, integradas, en ambientes virtuales de aprendizaje, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento:



                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





